

  
<!-- PurchaseModal -->
<div class="modal fade" id="sellModal-{{item.id}}"
data-bs-backdrop="static" data-bs-keyboard="false" 
 tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sellModalLabel">
            
            {{item.name}}
        
        </h5>
          <button type="button" class="btn-close"
           data-bs-dismiss="modal" aria-label="Close">
        </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                    {{selling_form.hidden_tag()}}

                    <h4 class="text-center">
                        Are you sure you want to sell {{item.name}} for ${{item.price}}
                    </h4>
                    <h6 class="text-center">
                    By clicking <strong>sell</strong>, you will sell this item.
                    </h6>
                    <br>
                    <div class="text-center">
                    <input id="sold_item" name="sold_item" type="hidden" value="{{item.name}}">
                    {{selling_form.submit(class="btn btn-outline-success btn-block")}}
                    </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>