{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}

<div class="container">
  

  {% include 'include/messages.html' %}


<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Barcode</th>
          <th scope="col">Price</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.barcode}}</td>
          <td>$ {{item.price}}</td>
          <td><a class="btn btn-primary" href='/market/{{item.id}}' role="button">More Info</a>
            <button type="button" class="btn btn-success">Purchase Item</button></td>
        </tr>
        {% endfor %}
       
      </tbody>
  </table>

</div>

{% endblock content %}